    /* ========== HEADER ========== */
    header {
        border-bottom: 1px solid red;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
         width: 96.5%;
          background: white; 
    }

    body {
        font-family: "Noto Sans", sans-serif;
        padding-bottom: 20px;
    }
    a , li , ul ,ol{
        text-decoration: none;
        list-style: none;
    }
    main{
        overflow: hidden;
    }
    /* Logo Section */
    .megaMart_logo {
        width: 20%;
    }

    .megaMart_logo img {
        width: 40px;
        height: 40px;
    }

    /* Menu Section */
    .megaMart_headerMenu {
        width: 55%;
        text-align: center;
    }

    .megaMart_headerMenu ul {
        padding: 0;
        margin: 0;
    }

    .megaMart_headerMenu ul li {
        display: inline;
        margin: 0 10px;
        list-style-type: none;
    }

    .megaMart_headerMenu ul li a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    /* Icons Section */
    .megaMart_headerIcons {
        width: 20%;

    }

    .megaMart_headerIcons img {
       width: 40px;
        height: 40px;
        margin-left: 10px;
    }


    /* ========== NEW ARRIVAL SECTION ========== */
    .megaMart_newUpdate {
        text-align: center;
        margin-top: 100px;
    }

    .megaMart_newUpdate h2 {
        color: yellowgreen;
        font-size: 30px;
        margin: 10px 0;
    }

    .megaMart_newUpdate h3 {
        font-weight: bold;
        font-size: 20px;
        font-family: monospace;
        color: blueviolet;
        margin: 0;
    }


    /* ========== PRODUCTS SECTION ========== */
    .megaMart_newUpdate_product {
        
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .megaMart_newUpdate_product_div {
        text-align: center;
        width: 22%;
        margin-top: -20px;
    }

    .megaMart_newUpdate_product_div img {
        height: 200px;
        width: 200px;
    }

    .megaMart_newUpdate_product_div p {
        font-size: 18px;
        margin: 5px 0;
        font-weight: bold;
    }

    .megaMart_newUpdate_product_div span {
        color: green;
        font-size: 16px;   
    }


    /* ========== FOOTER ========== */
  footer {
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  padding: 10px;
  position: fixed;
  width: 97.5%;
  bottom: 0px;
  background: white;
  margin-bottom: 5px;
}

